
<div class="wrapper">
  <div class="header">Header</div>
  <div class="leftCol">LeftCol</div>
  <div class="rightCol">RightCol</div>
  <div class="midTop">midTop
    <div class="container">
    <div class="row">
      <div>
        <div class="card card-signin my-5">
          <div class="card-body">
              file:///Users/sagarsuryawanshi/Benison-test/src/assets/basic-thoughts.htm
              file:///Users/sagarsuryawanshi/Benison-test/src/assets/GitHub-lead-QA.htm
              file:///Users/sagarsuryawanshi/Benison-test/src/assets/GitHub-JS-QA.htm
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>             

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <input class="custom-control-input" type="text" value="file:///Users/sagarsuryawanshi/Benison-test/src/assets/GitHub-JS-QA.htm" />  
              <button (click)="login()" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Employee Sign in</button>
              <hr class="my-4">
              <button (click)="managerLogin()" class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> manager Sign in</button>          
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="midBottom">midBottom</div>
  
</div>
<div class="footer">Footer</div>